// .h2 {
//   font-family Helvetica Neue, sans-serif
//   font-size 52px
//   font-weight 300
//   margin 50px 0px 20px 0px
// }

.studentName {
  font-size 36px
  line-height 40px
  font-family 'Sanchez'  
}

.largeIcon {
  width 80px
  height 80px
  border-radius 50%
  border 1px solid #ccc
}

.grade {
  font-size 36px
  font-family 'Sanchez'
  color white
  background-color red
  text-align center
}

.cardIcon {
  height: 50px
  width: 50px
  border 1px solid #BBB
  border-radius 5px
}

.picked {
  background-color "red"
}

.skill {
  font-size 24px
  font-family 'Sanchez'
}

.colorme {
  background-color #e7e1bc
}

.topicCard {
  border 1px solid black
  border-radius 20px
  padding 10px
  margin 10px 5px 10px 5px
  font-family Helvetica Neue, sans-serif
  .title {
    font-size 24px
    color #561017
  }
}

.checkbox, .item-checkbox {
 float right
 margin 10px 15px
 padding-left: 20px
}

.row > .title {
  margin 15px 10px
  font-size 35px
}

.list card {
  .item {
  display none
  }
}
