.h2 {
  font-family Helvetica Neue, sans-serif
  font-size 52px
  font-weight 300
  margin 50px 0px 20px 0px
}

.topicCard {
  border 1px solid black
  border-radius 20px
  padding 10px
  margin 10px 5px 10px 5px
  font-family Helvetica Neue, sans-serif
  .title {
    font-size 24px
    color #561017
  }
}

.buttons, .checkbox, .item-checkbox {
 float: right;
 left: 0px;
 padding-left: 20px;
}
