template(name="bridge")

  +contentFor "headerTitle"
    h1.title bridge

  +ionView
    +ionContent

      +ionItem
        button#call1 call1

      +ionItem
        button#call2 call2

      +ionItem
        button#call3 call3

