template(name="bridge")

  +contentFor "headerTitle"
    h1.title bridge

  +contentFor "headerButtonLeft"
    +ionNavBackButton(path='/admin' text='back')

  +ionView
    +ionContent

      each bridgeItems
        +ionItem
          button(id=this.btnId) {{this.text}}
